
<h1>Calendario:</h1>


<div class='row'>
	<div class='calendar col s12' >
		<div class='row'>
			<div class="navigation col s12 " >
				<div class="prev col s3" ><a href="appointments/{{prevMonth | date : 'yyyyMMdd'}}/{{prevMonth | date : 'yyyyMMdd'}}"><i class="large material-icons">chevron_left</i></a></div>
				<div class="current col s3" ><h3>{{currentMonth | date : 'MMMM yyyy'}}</h3></div>
				<div class="next col s3" ><a href="appointments/{{nextMonth | date : 'yyyyMMdd'}}/{{nextMonth | date : 'yyyyMMdd'}}"><i class="large material-icons">chevron_right</i></a></div>
			</div>
		</div>
		<div class='row'>
			<div class='header row col s12' >
				<div class='column monday dias'>Lunes</div>
				<div class='column tuesday dias'>Martes</div>
				<div class='column wednesday dias'>Miercoles</div>
				<div class='column thursday dias'>Jueves</div>
				<div class='column friday dias'>Viernes</div>
				<div class='column saturday dias'>Sabado</div>
				<div class='column sunday dias'>Domingo</div>
			</div>
		</div>	
		<div class='row'>
			<div class='calendar_body col s12 '>
				<div class="column {{data.date | date:'EEEE' | lowercase}} card-panel  teal lighten-3 " ng-repeat='cell in cells' >
						
						<a ng-href='/appointmentsList/{{cell.date | date:"yyyyMMdd"}} white-text ' >{{cell.date | date:'dd-MM-yyyy'}}</a> <br />
						<span ng-if='cell.appointmentsCount!=undefined'>{{cell.appointmentsCount}} Citas</span> 			
					</div>
			</div>
		</div>
	</div>
</div>
<style>
.calendar {
	width: 900px;
}
.calendar .navigation {
  display: flex;
}
.calendar .navigation .current {
  flex: 3;
  text-align: center;
}
.calendar .row {
}
.calendar .header{
}
.calendar .column {
	width: 13.50%;
	display: inline-block;
}
.calendar_body .column {
	/* height: 20px;*/

}

.calendar a{
	color:teal;
	
}
.calendar .column a{
	color:white;
	
}

.calendar .dias{
	border:1px teal solid;
    width: 13.3%;
}


</style>