
<div class='horario'>

	<div class='cita card-panel' ng-repeat='citas in appointment'>
		{{citas.hora}}
		<div ng-if='citas.datos.pet.name' >
			Mascota:{{citas.datos.pet.name}}</br>
			Especie:{{citas.datos.pet.species}}<br/>
			Due&ntilde;o:{{citas.datos.pet.owner.firstName}} {{citas.datos.pet.owner.lastName}}<br/>
			<a class='small material-icons icon-black' ng-click='$emit("appointment:showAppClick",{id:citas.datos._id})'>info_outline</a>   
			
		</div>
		
		<div ng-if='!citas.datos.pet.name'>
			No hay citas
			
		   
		</div>
		
	
	</div>
	
	
</div>

<style>

.horario{
	position:relative;
	width:300px;
}

.cita{border:2px solid teal;
		width:99%;
		height:120px;}

a{
	position:absolute	;
	right:3%;
	color:teal;
}
</style>
