body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: red;
}
div.buscador{
	position:relative;
	
	margin-bottom:20px;
}

table{
	border:1px solid black;
	width: 300px;
	border-collapse: collapse;	
}
th{text-align: left;}
td{
	border:1px solid black;
	
}
