<h1>Lista de mascotas</h1>
<div class="row">
    <div class="col s6">
		<ul ng-repeat="pet in datosPet">
			<li>Nombre: {{pet.name}}</li>
			<li>Especie: {{pet.species}}</li>
			<li>Raza: {{pet.race}}</li>
			<li>Sexo: {{pet.sex }}</li>
			<li><a class='small material-icons icon-black' ng-href="/pet/{{pet._id}}">info_outline</a>   
			<a class="btn-flat " ng-click="borrarMascota(pet._id,pet.owner)"><i class='small material-icons '>delete_forever</i></a>
			</li>
			
		<hr/>	
		</ul>
		<a class="waves-effect waves-light btn" ng-href="/pet/{{datosPet[0].owner}}" >A&ntildeadir Mascota</a>
		
	</div>
</div>
<style>
	
	li a:first-child {
		padding:20px 5px 0px 5px;
	}
	
}

</style>
