<h1>Lista de mascotas</h1>
<div class="row">
    <div class="col s6">
		<ul ng-repeat="pet in datosPet">
			<li>Nombre: {{pet.name}}</li>
			<li>Especie: {{pet.species}}</li>
			<li>Raza: {{pet.race}}</li>
			<li>Sexo: {{pet.sex }}</li>
			<li><a class='small material-icons icon teal-text' ng-href="/pet/{{pet._id}}">info_outline</a>   
			<a class="small material-icons icon teal-text " ng-click="borrarMascota(pet._id,pet.owner)"><i class='small material-icons teal-text'>delete_forever</i></a>
			</li>
			
		<hr/>	
		</ul>
		<btn-link data-styles='waves-effect waves-light btn'  data-content='A&ntilde;adir Mascota' data-href='/pet/{{datosPet[0].owner}}'></btn-link>
		<!-- <a class="waves-effect waves-light btn" ng-href="/pet/{{datosPet[0].owner}}" >A&ntildeadir Mascota</a> -->
		
	</div>
</div>
<style>
	
	li a:first-child {
		padding:20px 5px 0px 5px;
	}
	
}

</style>
