<h1>Mascota</h1>

<div class='row'>
	<div class='col s6'>
		<div class='row'>
			<label-input-form data-size="s6"  data-idfor="name" data-type="text" data-model="datosPet.name" data-label="Nombre" />
			
			<label-input-form data-size="s6"  data-idfor="birthday" data-type="date" data-model="datosPet.birthday" data-label="Fecha de nacimiento" />
		
		</div>
		<div class='row'>
			<label-input-form data-size="s6"  data-idfor="species" data-type="text" data-model="datosPet.species" data-label="Especie" />
			
			<label-input-form data-size="s6"  data-idfor="race" data-type="text" data-model="datosPet.race" data-label="Raza" />
			
		</div>
	
		<div class='row'>

			<div class='col s6'>
				<label for='sex'>Sexo</label>
				<select id="sex" class="browser-default" ng-model="datosPet.sex">
			    	<option value="" disabled>Selecciona el sexo</option>
			    	<option value='Hembra'> Hembra</option>
			    	<option value='Macho'>Macho</option>
 		 		</select>
			</div>
			
			<label-input-form data-size="s6"  data-idfor="photo" data-type="text" data-model="datosPet.photoURL" data-label="photo" />
			
		</div>
		<div class='row'>
			<label-input-form data-size="s6"  data-idfor="chip" data-type="text" data-model="datosPet.chipNumber" data-label="Nº Chip" />
			
			<label-input-form data-size="s6"  data-idfor="note" data-type="text" data-model="datosPet.description" data-label="Descripcion" />
		
		</div>
		<div class='col s6'>
			<div ng-if='datosPet.owner'><td colspan="2"><a class="waves-effect waves-light btn" ng-click="datosMascota()">Guardar mascota</a></td></div>
			<div ng-if='!datosPet.owner'><td colspan="2"><a class="waves-effect waves-light btn" ng-click="crearMascota()"> Crear mascota</a></td></div>
		</div>
	</div>
</div>
	

