<h1>Lista de clientes</h1>
<div class="buscador">
	<h2>Buscar:</h2>
	<input type="text" ng-model="buscar"></input>
</div>
<table class='highlight'>
	<tr>
		<th>Nombre</th>
		<th>Apellido</th>
		<th></th>
		<th></th>
	</tr>
	<tr ng-repeat="data in datos">
		<td>{{data.firstName}}</td>
		<td>{{data.lastName}}</td>
		<td><a ng-href="customer/{{data._id}}">Ver mas</a></td>
		<td><a class="waves-effect waves-light btn" ng-click="borrarCliente(data._id)">Borrar cliente</a></td>
	</tr>
</table>

<a ng-href="customer">Crear cliente</a>

