<h3>Clientes</h3>
 <div class="row">
    <form class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <input  id="first_name" type="text" ng-model='datos.firstName'>
          <label for="first_name">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name"  type="text" ng-model='datos.lastName'>
          <label for="last_name">Apellido</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="Telefono"  type="tel"  ng-model='datos.phone'>
          <label for="Telefono">Telefono</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email"  type="email" ng-model='datos.mail' class="validate">
          <label for="email" data-error="Email invalido" data-success="Correcto">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="dni"   type="text" ng-model='datos.dni'>
          <label for="dni">DNI</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="note"  type="text" ng-model='datos.note'>
          <label for="note">Nota</label>
        </div>
      </div>
  
    </form>
	<pet-module class="col s6" ng-if='datos._id'></pet-module>
</div>
<a class="waves-effect waves-light btn" ng-click="mandarDatos()">Guardar cliente</a>



