<h3>Clientes</h3>
 <div class="row">
    <form class="col s6">
      <div class="row">
      	<label-input-form data-size="s6"  data-idfor="firstName" data-type="text" data-model="datos.firstName" data-label="Nombre" />  
        
        <label-input-form data-size="s6"  data-idfor="lastName" data-type="text" data-model="datos.lastName" data-label="Apellido" />       
      </div>
      <div class="row">
      <label-input-form data-size="s12"  data-idfor="phone" data-type="tel" data-model="datos.phone" data-label="Telefono" />
      </div>
      <div class="row">
	      <label-input-form data-size="s12"  data-idfor="mail" data-type="email" data-model="datos.mail" data-label="Correo electronico" />   
      </div>
      <div class="row">
      	<label-input-form data-size="s12"  data-idfor="dni" data-type="text" data-model="datos.dni" data-label="DNI" />
   
      </div>
       
       <div class="row">
       		<label-input-form data-size="s12" data-idfor="note" data-type="text" data-model="datos.note" data-label="Nota" />
      </div>
   
    </form>
	<pet-module class="col s6" ng-if='datos._id'></pet-module>
</div>
<custom-button data-size="large"  data-color="teal " ng-click="mandarDatos()" data-content='Guardar cliente' />
<!-- <a class="waves-effect waves-light btn" ng-click="mandarDatos()">Guardar cliente</a> -->



